@model IEnumerable<BackendCapstone.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<h2>Messages</h2>

<p>
    <button type="button" class="btn"><a class="button-link" asp-action="Create">Create New Message</a></button>
</p>

    @foreach (var message in Model)
    {
        <div class="card" style="width: 75em; border: solid; padding: 1em; margin-bottom: 1em;">
            <div class="card-body" style="flex-wrap: wrap;">
                <h3 class="card-title">@message.SendingUser.FullName</h3>
                <p><strong>@Html.DisplayNameFor(model => model.ReceivingUser)</strong> @message.ReceivingUser.FullName</p>
                <p style="display: flex; flex:auto; flex-wrap: wrap;"><strong>Message:</strong></p>  
                <p>@message.Messages</p>
                <p>
                    <a asp-action="Delete" asp-route-id="@message.MessageId">Delete</a>
                </p>
            </div>
        </div>
    }
