@model BackendCapstone.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h1 class="form-styles">Pet Details</h1>

<div>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="plant_image_details img-responsive" src="~/User_Files/Images/@Model.ImagePath" />
                </div>
            </div>
            <div class="col-sm-6 plant-details">
                <div class="card">
                    <div class="card-body text-center">
                        <h2 class="card-title text-center">@Html.DisplayFor(model => model.Name)</h2>
                        <h3 class="card-title text-center">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
                        <h5 class="card-text text-center">@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>
                        <h5 class="card-text text-center">@Html.DisplayFor(model => model.Name)</h5>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">
                            <br />
                            <a class="details-link" asp-action="Index">Back to Pets</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
