@model IEnumerable<BackendCapstone.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h1 class="form-styles">All Your Pets</h1>

<p>
    <button type="button" class="btn"><a class="button-link" asp-action="Create">Add New Pet</a></button>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card plant-row">
                    <img class="card-img-top plant_image center-block" src="~/User_Files/Images/@item.ImagePath" alt="Card image cap" style="height: 25em; width: 25em">
                    <hr />
                    <div class="card-body text-center">
                        <h4 class="card-title text-center">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <h4 class="card-title text-center"><strong>Vet:</strong> @Html.DisplayFor(modelItem => item.Vet.FullName)</h4>
                        <h4 class="card-title text-center"><strong>Age:</strong> @Html.DisplayFor(modelItem => item.Age)</h4>
                        <h4 class="card-title text-center"><strong>Health Status:</strong>@Html.DisplayFor(modelItem => item.Status)</h4>
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted">
                            <a class="details-link" asp-action="Details" asp-route-id="@item.PetId">Details</a> |
                            <a class="details-link" asp-action="Delete" asp-route-id="@item.PetId">Remove</a>
                        </small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
